body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color:hsla(271, 100%, 20%, 1); 
    background-image:url("https://cdn.glitch.global/2bac30c8-fff4-4649-bd9c-76f412372be1/3430664.png?v=1652389258895");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:auto;
    width:auto;
    }

  h1 {
    font-style:bold;
    color:gold;
    text-align:center;
    border:8px solid gold;
    padding:25px;
    width:500px;
  }
    
  p{
    font-family: 'Times New Roman', Times, serif;
    size:15px;
    color:hsla(156, 100%, 60%, 1);
  }
  
  h2 {size:10px;
    color:gold;
    }
  
  li {
    size:10px;
    color:black;
  }

  a href {
  color:green;
}
    
  /* unvisited link */
  a:link {
  color:hsla(279, 100%, 80%, 1);
  text-align:right;
  }
  
  /* mouse over link */
  a:hover {
  color: green;
  }  

hr{
  border-color:hsla(246, 90%, 82%, 1);
  width:50%;
  margin: 0px
  
}
footer{
  text-align:center;
  color:hsla(301, 76%, 63%, 1)
}
img{
  color:cyan;
}

.purplespace-background img{
    margin: auto 5px;
    float: right;
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

.markmicrobit img {
  height: 300px;
  width: 300px;
}
